.displayGallery {
  display: flex;
  flex-wrap: wrap;
  align-self: auto;
  padding: "2px";
}

/* label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
} */
