.versefont {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}
.bckimg {
  background-image: url("https://dg.imgix.net/i-read-the-bible-and-feel-nothing-what-should-i-do-en/landscape/i-read-the-bible-and-feel-nothing-what-should-i-do-174a71c3c27f0e4eb89dd05b778621b4.jpg?ts=1513795672&ixlib=rails-4.2.0&fit=crop&w=2000&h=1050");
  opacity: 0.8;
}

.form-field {
  margin-right: 10px;
}

.form-label {
  align-self: center;
  justify-self: bottom;
  margin-right: 10px;
  padding: 2px;
}
